@import url("./reset.css");
@import url("//at.alicdn.com/t/font_1186631_kqyrtvia2lj.css");
html,
body {
  min-height: 100%;
  background-color: #eee;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.qs-icon {
  font-size: 14px;
  line-height: 1;
  font-variant: normal;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header, .footer {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-right: 20px;
  text-align: right;
  line-height: 35px;
  color: #ccc;
}

.header a, .footer a {
  color: #316c72;
}

@media screen and (max-width: 760px) {
  .header {
    display: none;
  }
  .footer {
    text-align: center;
  }
}

.content {
  width: 100%;
  max-width: 1024px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 5px;
}

.content .content-hd {
  width: 100%;
  background-color: #316c72;
  color: #fff;
  padding: 30px 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content .content-hd .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10px;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #84a59d;
}

.content .content-hd .title .name {
  width: 50%;
  line-height: 78px;
}

.content .content-hd .title .name h1 {
  font-size: 30px;
  font-weight: 500;
}

.content .content-hd .title .job {
  line-height: 78px;
}

.content .content-hd .title .job h2 {
  font-size: 22px;
  font-weight: 500;
}

.content .content-hd .info {
  line-height: 1.6;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .content-hd .info .personal-info, .content .content-hd .info .contact-info {
  width: 50%;
}

.content .content-hd .info .contact-info {
  text-align: right;
}

.content .content-hd .info .contact-info a {
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.content .content-hd .info .contact-info a:hover {
  color: #ccc;
}

@media screen and (max-width: 760px) {
  .content .content-hd {
    border-radius: 0;
  }
  .content .content-hd .title .name, .content .content-hd .title .job {
    width: 100%;
    text-align: center;
    line-height: 45px;
  }
  .content .content-hd .info .link-text {
    display: none;
  }
  .content .content-hd .info .contact-info li {
    display: inline-block;
    margin: 0 5px;
  }
  .content .content-hd .info .personal-info, .content .content-hd .info .contact-info {
    width: 100%;
    text-align: center;
  }
}

.content .content-bd .skill {
  width: 100%;
  padding: 20px 30px;
}

.content .content-bd .section-header {
  position: relative;
  margin: 10px 0;
  height: 32px;
  line-height: 32px;
}

.content .content-bd .section-header::before, .content .content-bd .section-header::after {
  content: '';
  position: absolute;
  background-color: #eee;
  height: 1px;
  top: 50%;
  width: calc(76% / 2 - 30px);
  max-width: calc((100% - 100px) / 2 - 15px);
}

.content .content-bd .section-header::before {
  left: 0;
}

.content .content-bd .section-header::after {
  right: 0;
}

.content .content-bd .section-header h2 {
  text-align: center;
  width: 24%;
  min-width: 100px;
  margin: 0 auto;
  color: #316c72;
  font-weight: 600;
  font-size: 17px;
  background-color: #eee;
  border-radius: 32px;
}

.content .content-bd .section-bd {
  width: 100%;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .content-bd .section-bd .item {
  width: 48%;
  color: #333;
  margin-bottom: 20px;
}

.content .content-bd .section-bd .item .item-hd {
  margin-bottom: 5px;
}

.content .content-bd .section-bd .item .item-hd h3 {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  position: relative;
  padding-left: 15px;
}

.content .content-bd .section-bd .item .item-hd h3::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #316c72;
}

.content .content-bd .section-bd .item .item-bd p {
  line-height: 1.5;
}

.content .content-bd .section-bd .item .item-bd .item-content {
  text-align: justify;
  word-break: break-all;
}

.content .content-bd .section-bd .item .item-bd .item-content li {
  list-style: circle inside;
  line-height: 1.8;
  font-size: 14px;
}

.content .content-bd .section-bd .item .item-bd .item-content li .title {
  font-weight: 600;
}

.content .content-bd .section-bd .item .item-bd .item-content li a {
  color: #316c72;
}

.content .content-bd .section-bd .item .item-bd .item-content li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 760px) {
  .content .content-bd .section-bd {
    padding: 10px 0;
  }
  .content .content-bd .section-bd .item {
    width: 100%;
  }
}

.content .content-bd .sections {
  width: 100%;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .content-bd .sections .sections-left, .content .content-bd .sections .sections-right {
  width: 48%;
}

@media screen and (max-width: 760px) {
  .content .content-bd .sections .sections-left, .content .content-bd .sections .sections-right {
    width: 100%;
  }
}

.content .content-bd .sections .sections-left .section-bd .item, .content .content-bd .sections .sections-right .section-bd .item {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */